<html>
    <head>
        <link rel="stylesheet" href="Semantic-UI-CSS-master/semantic.min.css">
    <style>
        .login-warp{
            text-align: center;
            margin-top: 200px;
        }
    </style>
    </head>
    
    <body>
        <button class="ui primary basic button">Primary</button>
        <button class="ui secondary basic button">Secondary</button>
        <button class="ui positive basic button">Positive</button>
        <button class="ui negative basic button">Negative</button>
        
        

        <div class="login-warp">
            <button class="ui primary button">
                login to the page
            </button>
        </div>
    </body>
</html>